@import '@src/styles/functions';

.root {
  z-index: 4;
  height: 100vh;
  height: calc(100 * var(--svh, 1vh));
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: calc(var(--layout-columns-gap) + 5vw) var(--layout-margin)
    calc(var(--layout-columns-gap) * 2);

  box-shadow:
    inset 0 calc(var(--layout-columns-gap) + 5vw) 0 0 var(--white),
    inset calc(var(--layout-margin) * -1.05) 0 0 0 var(--white),
    inset 0 calc(var(--layout-columns-gap) * -1.0065 * 2) 0 0 var(--white),
    inset calc(var(--layout-margin) * 1.05) 0 0 0 var(--white);

  @include mobile {
    padding: calc(var(--layout-columns-gap) + 12vw) var(--layout-margin)
      calc(var(--layout-columns-gap) * 2);
    box-shadow:
      inset 0 calc(var(--layout-columns-gap) + 12vw) 0 0 var(--white),
      inset calc(var(--layout-margin) * -1.1001) 0 0 0 var(--white),
      inset 0 calc(var(--layout-columns-gap) * -1.04 * 2) 0 0 var(--white),
      inset calc(var(--layout-margin) * 1.1001) 0 0 0 var(--white);
  }
  .topContainer {
    padding: var(--layout-columns-gap) 0px;
    flex: 0 1 auto;
    background-color: var(--white);
    align-items: center;
    box-shadow: 0 0 0 calc(var(--layout-columns-gap) * 0.04) var(--white);
    @include mobile {
      box-shadow: 0 0 0 calc(var(--layout-columns-gap) * 0.04) var(--white);
    }
    .leftContainer {
      grid-column: 1 / 9;
      height: auto;
      display: flex;
      flex-direction: column;
      @include mobile {
        width: 100%;
      }

      .performer {
        padding-left: 1rem;

        @include mobile {
          padding-left: 0.5rem;
        }
      }
    }
    .rightContainer {
      height: auto;
      grid-column: 11 / 17;
      @include mobile {
        display: none;
      }
    }
  }

  .bottomContainer {
    position: relative;
    flex: 1 1 auto;
    height: 1px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0 0 1vw var(--white);
    border-radius: var(--layout-columns-gap);
    overflow: hidden;

    @include mobile {
      width: 100%;
      flex: 1 1 auto;
      min-height: 0;
      height: 100%;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 0 2vw var(--white);
      border-radius: calc(var(--layout-columns-gap) * 0.5);
    }
  }

  .rightContainerMobile {
    background-color: var(--white);
    display: none;
    @include mobile {
      display: block;
      height: auto;
      padding-top: calc(var(--layout-columns-gap) * 0.5);
      padding-bottom: calc(var(--layout-columns-gap) * 2.2);
      box-shadow: 0 0 0 calc(var(--layout-columns-gap) * 0.04) var(--white);
    }
  }
  .infiniteContainer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    overflow: hidden;
    height: calc(var(--layout-columns-gap) * 2);
    left: var(--layout-margin);
    width: calc(100% - 2 * var(--layout-margin));
  }
}
